package views

import (
	"rowers/internal/database"
	"fmt"
)

templ UserDetails(user database.User) {
	@Index() {
		<div
			class="relative mx-auto w-4/5 overflow-x-auto shadow-md sm:rounded-lg"
			hx-get={ fmt.Sprintf("/users/%d/weights", user.ID) }
			hx-trigger="load"
			hx-swap="beforeend"
		>
			<div id="user_data" class="px-3 pt-4">
				{ user.FirstName } { user.LastName }
			</div>
		</div>
	}
}
